<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Vocco</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1034099036541-va0ioishaoaueb7elaogc2ra1h4u1if3</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fb</string>
		<string>fbapi</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>fb-messenger-api</string>
		<string>twitter</string>
		<string>viber</string>
		<string>whatsapp</string>
		<string>wechat</string>
		<string>line</string>
		<string>instagram</string>
		<string> instagram-stories</string>
		<string>kakaotalk</string>
		<string>mqq</string>
		<string>vk</string>
		<string>comgooglemaps</string>
		<string>googlephotos</string>
		<string>ha</string>
		<string>yammer</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>https://apps.apple.com/fr/app/vocco-worldwide-stories/id1636479516</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>The access to your camera is needed to take a picture if you’re willing to change your profile picture or send a picture to another user.</string>
	<key>NSContactsUsageDescription</key>
	<string>Access to contact list is used to allow your contacts join you in the application if you invite them.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>NSMicrophoneUsageDescription</key>
	<string>The access to your microphone is needed to share your vocal stories and/or send a voice message to another user in the audio chat.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>The access to your photos is needed if you plan to change your profile picture and choose one from your gallery or send a picture from your gallery to another user.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>The access to your photos is needed if you plan to change your profile picture and choose one from your gallery or send a picture from your gallery to another user.</string>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>fonts/SFProDisplay-Black.ttf</string>
		<string>fonts/SFProDisplay-BlackItalic.ttf</string>
		<string>fonts/SFProDisplay-Bold.ttf</string>
		<string>fonts/SFProDisplay-BoldItalic.ttf</string>
		<string>fonts/SFProDisplay-Heavy.ttf</string>
		<string>fonts/SFProDisplay-HeavyItalic.ttf</string>
		<string>fonts/SFProDisplay-Light.ttf</string>
		<string>fonts/SFProDisplay-LightItalic.ttf</string>
		<string>fonts/SFProDisplay-Medium.ttf</string>
		<string>fonts/SFProDisplay-MediumItalic.ttf</string>
		<string>fonts/SFProDisplay-Regular.ttf</string>
		<string>fonts/SFProDisplay-RegularItalic.ttf</string>
		<string>fonts/SFProDisplay-Semibold.ttf</string>
		<string>fonts/SFProDisplay-SemiboldItalic.ttf</string>
		<string>fonts/SFProDisplay-Thin.ttf</string>
		<string>fonts/SFProDisplay-ThinItalic.ttf</string>
		<string>fonts/SFProDisplay-Ultralight.ttf</string>
		<string>fonts/SFProDisplay-UltralightItalic.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
